<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link th:href="@{/css/news.css}" rel="stylesheet">
</head>
<body>
    <header>
        <a th:href="@{/news}">
            <h1>News Service</h1>
        </a>

        <p>World Wide News By Category</p>
    </header>

    <form class="search-form" th:action="@{/search}" method="GET">
        <input type="hidden" name="category" th:value="${selected ?: ''}">
        <input class="search-input" type="text" name="q" placeholder="기사 검색..." th:value="${q ?: ''}">
        <button type="submit" class="search-btn">검색</button>
    </form>


    <!--카테고리 목록 출력 -->
    <nav class="tabs" th:if="${not #lists.isEmpty(categories)}">
        <a th:each="c : ${categories}"
            th:href="@{/news(category=${c.name})}"
           th:class="tab"
           th:classappend="${c.name == selected} ? 'active': ''"
           th:text="${c.name}"
        >link
        </a>

    </nav>

    <div class="grid" th:if="${not #lists.isEmpty(articles.content)}">
      <div class="card" th:each="a : ${articles.content}">
          <img class="thumb" th:src="${a.urlToImage !=null and !#strings.isEmpty(a.urlToImage)} ? ${a.urlToImage} :@{/images/news.jpg}">

          <div class="card-body">
              <h2>
                  <a th:href="${a.url}" th:text="${a.title}" target="_blank"></a>
              </h2>
              <p class="desc"
                 th:if="${a.description != null and !#strings.isEmpty(a.description)}"
                 th:text="${a.description}">기사요약</p>

              <div class="meta">
                  <span class="source"
                  th:text="${a.source !=null} ? ${a.source.name} : '-'">발행처</span>

                  <span th:text="${a.publishedAt}"></span>
<!--                  <time th:if="${a.publishedAt !=null}"-->
<!--                            th:datetime="${a.publishedAt}"-->
<!--                            th:text="${#temporals.format(a.publishedAt,'yyyy-MM-dd HH:mm','Asia/Seoul')}">-->
<!--                      2026-05-17 09:00-->
<!--                  </time>-->

              </div>
          </div>
      </div>
  </div>

    <!-- Pagination -->
    <nav class="pagination" th:if="${articles.size > 0}">

        <!-- 이전 -->
        <a th:if="${!articles.first}"
           th:href="@{/search(q=${q}, category=${selected}, page=${articles.number})}"
           class="page-btn">&lt;</a>

        <span th:if="${articles.first}" class="page-btn disabled">&lt;</span>

        <!-- 페이지 번호 계산 -->
        <th:block th:with="
        start=${(articles.number / 10) * 10 + 1},
        end=${(articles.totalPages > start + 9) ? start + 9 : articles.totalPages}
    ">

            <a th:each="i : ${#numbers.sequence(start, end)}"
               th:href="@{/search(q=${q}, category=${selected}, page=${i})}"
               class="page-btn"
               th:classappend="${i - 1 == articles.number} ? 'active' : ''"
               th:text="${i}">
            </a>

        </th:block>

        <!-- 다음 -->
        <a th:if="${!articles.last}"
           th:href="@{/search(q=${q}, category=${selected}, page=${articles.number + 2})}"
           class="page-btn">&gt;</a>

        <span th:if="${articles.last}" class="page-btn disabled">&gt;</span>

    </nav>

</body>
</html>