<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link th:href="@{/css/news.css}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>News Service</h1>
        <p>World Wide News By Category</p>
    </header>

    <nav class="tabs" th:if="${not #lists.isEmpty(categories)}">
        <a th:each="c : ${categories}"
            th:href="@{/news(category=${c.name})}"
           th:class="tab"
           th:classappend="${c.name == selected} ? 'active': ''"
           th:text="${c.name}"
        >link
        </a>

    </nav>

    <div class="grid" th:if="${not #lists.isEmpty(articles)}">
      <div class="card" th:each="a : ${articles}">
          <img class="thumb" th:src="${a.urlToImage !=null and !#strings.isEmpty(a.urlToImage)} ? ${a.urlToImage} :@{/images/news.jpg}">

          <div class="card-body">
              <h2>
                  <a th:href="${a.url}" th:text="${a.title}" target="_blank"></a>
              </h2>
              <p class="desc"
                 th:if="${a.description != null and !#strings.isEmpty(a.description)}"
                 th:text="${a.description}">기사요약</p>

              <div class="meta">
                  <span class="source"
                  th:text="${a.source !=null} ? ${a.source.name} : '-'">발행처</span>

                  <span th:text="${a.publishedAt}"></span>
<!--                  <time th:if="${a.publishedAt !=null}"-->
<!--                            th:datetime="${a.publishedAt}"-->
<!--                            th:text="${#temporals.format(a.publishedAt,'yyyy-MM-dd HH:mm','Asia/Seoul')}">-->
<!--                      2026-05-17 09:00-->
<!--                  </time>-->

              </div>
          </div>
      </div>
  </div>

</body>
</html>